
h1{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: rbg(129,156,187);
    margin-top: 10px;
}

.container{
    border:1px solid rgb(129,156,187) ;
    padding: 0;
}
.form{
    padding: 10px 20px;
}
.row{
    margin-bottom: 25px;
}
.col-4{
    text-align: right;
}
.hidden{
    display: none;
}






